*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild


build/**
!build/app
!build/app/outputs
!build/app/outputs/apk
!build/app/outputs/apk/release
!build/app/outputs/apk/release/app-release.apk
